<p id="notice"><%= notice %></p>

<p>
  <strong>Complete internship:</strong>
  <%= @postponement.complete_internship_id %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @postponement.semester_id %>
</p>

<p>
  <strong>Semester of study:</strong>
  <%= @postponement.semester_of_study %>
</p>

<p>
  <strong>Placed at:</strong>
  <%= @postponement.placed_at %>
</p>

<p>
  <strong>Approved at:</strong>
  <%= @postponement.approved_at %>
</p>

<p>
  <strong>Approved by:</strong>
  <%= @postponement.approved_by_id %>
</p>

<%= link_to 'Edit', edit_postponement_path(@postponement) %> |
<%= link_to 'Back', postponements_path %>
