<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'complete_internships.singular' %> ID:</strong>
  <%= @postponement.complete_internship.id %>
</p>

<p>
  <strong><%= t 'complete_internships.details.semester' %> ID:</strong>
  <%= @postponement.semester_id %>
</p>

<p>
  <strong><%= t 'complete_internships.semester_of_study' %>:</strong>
  <%= @postponement.semester_of_study %>
</p>

<p>
  <strong><%= t 'postponements.statusreport.application_date' %></strong>
  <%= @postponement.placed_at %>
</p>

<p>
  <strong><%= t 'postponements.statusreport.approval_date' %></strong>
  <%= @postponement.approved_at %>
</p>

<p>
  <strong><%= t 'postponements.statusreport.by' %> ID:</strong>
  <%= @postponement.approved_by_id %>
</p>

<%= link_to 'Edit', edit_postponement_path(@postponement) %> |
<%= link_to 'Back', postponements_path %>
