<p id="notice"><%= notice %></p>

<h1>Listing Finish Reads</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Internship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finish_reads.each do |finish_read| %>
      <tr>
        <td><%= finish_read.user_id %></td>
        <td><%= finish_read.internship_id %></td>
        <td><%= link_to 'Show', finish_read %></td>
        <td><%= link_to 'Edit', edit_finish_read_path(finish_read) %></td>
        <td><%= link_to 'Destroy', finish_read, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finish read', new_finish_read_path %>
