<%= form_for(@read) do |f| %>
  <% if @read.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@read.errors.count, "error") %> prohibited this read from being saved:</h2>

      <ul>
      <% @read.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :internship_id %><br>
    <%= f.number_field :internship_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
