<%= bootstrap_form_for(@student) do |f| %>
<div id="form-block4" class="text-left">
  <h3> <%= t "students.personal_details" %></h3>

  <div class="row">
    <div class="col-md-4">
      <div id="field-titles">
      <%=t "students.attributes.enrolment_number" %><br />
    <span class="form-control-static"><%=@student.enrolment_number%></span>
      </div>
    </div>
    <div class="col-md-4">
      <div id="field-titles">
        <%=t "students.attributes.email" %><br />
      <span class="form-control-static"><%=@student.email %></span>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles2">
      <%= f.text_field :first_name, :maxlength => 50 %>
      </div>
    </div>

  <div class="col-md-4">
    <div class="field" id="field-titles2">
      <%= f.text_field :last_name, :maxlength => 50%>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
            <%= f.text_field :birthday %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="field" id="field-titles2">
          <%= f.text_field :birthplace, :maxlength => 50 %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
        <%= f.text_field :private_email %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
        <%= f.submit %>
        </div>
      </div>
    </div>

    <%= link_to t('buttons.back'), :back %>
  </div>

  <% end %>
