<h1 class=""> <%= t "REPORT OVERVIEW" %> </h1>



<!-- <#%= form_tag "/de/report_overview" do |f| %>
    <%#= select_tag(:semester, options_for_select(Semester.all.map { |s| [s.name, s.id] })) %>
    <%#= submit_tag("Search") %>
<#% end %>

<%#= form_tag(current_internships_path, :method => "get", id: "search-form") do %>
    <#%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%#= submit_tag "Search", :name => nil %>
<#% end %>

<%#= form_tag(current_internships_path, :method => 'get') do %>


   <div class="row-fluid">

      <div class="span4">
        <%#= select_tag :semester, options_for_select(@internships.map(&:semester).uniq.map{ |s| [s.name, s.id] }),  { :multiple => true , class: 'chzn-select', 'data-placeholder'=>t("choose.semester")}  %>
      </div>




    </div> -->

  <%= form_tag(report_overview_index_path, :method => 'get', class: 'form2') do %>


    <!--
    http://localhost:3000/de/report_overview?utf8=%E2%9C%93&student=nevio&search=Suche
    http://localhost:3000/de/report_overview?utf8=%E2%9C%93&student%5B%5D=1&search=Suche

    -->

  <div class="span4">
    <%= text_field_tag :country, params[:country], placeholder: "Search Country" %>
    <%= text_field_tag :last_name, params[:last_name], placeholder: "Search last name" %>
    <%= text_field_tag :first_name, params[:first_name], placeholder: "Search first name" %>
    <%= text_field_tag :name, params[:name], placeholder: "Search semester" %>

<<<<<<< HEAD
    <%= select_tag :semester, options_for_select(@semesters),  { :multiple => true , 'data-placeholder'=>t("test"), style: "width:100%"}  %>

    <%= select_tag :student, options_for_select(@contract_states)%>
=======
    <!--
     <#%= select_tag :student, options_for_select(@students),  { :multiple => true , class: 'chzn-select', 'data-placeholder'=>t("test"), style: "width:100%"}  %>

     ini yg udah berfungsi

     <#%= select_tag :student, options_for_select(@students) %>
       <#%= select_tag :country, options_for_select((@countries).uniq), { :multiple => true , class: 'chzn-select', 'data-placeholder'=>t("choose.country"), style: "width:100%"} %>
         -->
>>>>>>> modify search option
  </div>


    <br/>

    <br/>

    <%= submit_tag t("search.title"), :name => "search", :class => "form2" %>

    <td class="table_block reset"><%= button_tag t("helpers.reset"), :name => nil, :class => "btn btn-success", :id => "reset_chosen", :onclick => "click_reset();" %></td>




<% end %>

<%= button_to "reset", report_overview_index_path, :method => "get" %>



<div>

  <table id="table" class="table table-hover table-mc-light-blue table-bordered" data-sort-name="name" data-sort-order="desc">

  <thead style="background: #00ff00;">

    <tr class="even_row">

      <th class ="headColor"><%= t "users.attributes.name" %></th>
      <th class ="headColor"><%= t "companies.attributes.name" %></th>
      <th class ="headColor"><%= t "students.attributes.enrolment_number" %></th>
      <th class ="headColor"><%= t "internships.attributes.semester" %> </th>
      <th class ="headColor"> <%=  "vorraussichtliche abgabe" %> </th>
      <th class ="headColor"><%= t "internships.attributes.title" %> </th>
      <th class ="headColor"><%= t "internships.attributes.internship_report" %> </th>


    </tr>

    </thead>




    <tbody>



    <% @internships.each do |internship| %>



        <tr class="<%= cycle("even_row", "odd_row") %>">


          <td> <%= internship.student.name %></td>
          <td> <%= internship.company.name %></td>
          <td> <%= internship.student.enrolment_number %></td>
          <td> <%= internship.try(:semester).try(:name) %></td>
          <td> <%= internship.vorraussichtliche_abgabe %></td>
          <td> <%= internship.title %> </td>

          <td> <%= link_to({:controller=>:read_list, :action => :create, :internship_id => internship.id, :user_id => current_user.id}, {:method=>:post, remote: true, class: "btn btn-success"}) do %>
                <i class=""> </i><%= t("move to my reading list") %>
            <% end %>
<<<<<<< HEAD
          </td>




=======
>>>>>>> modify search option
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>

  </div>

<script>


</script>
