<% if @company_location_json.nil? %>
No Companies to show on Map.
<% end %>

<%= form_tag({}, method: "get") do %>
<%= render 'semester_select' %>
<% end %>

<div id="mapid" style="width: 100%; height: 75vh;;"></div>

<% if @current_user.try(:student).try(:birthday?)%>
  <%= render 'happy_birthday_popup'%>
  <%= javascript_tag 'happy_birthday' %>
<%end%>

<script>
  <% if @current_user.try(:student).try(:birthday?)%>
    <%= 'startConfetti();' %>
  <%end%>

  // 2 shows whole world,
  // 13 a part of the city
  var mymap = L.map('mapid').setView([52.4569311, 13.5242551], <%= @zoom %>);

  L.Icon.Default.imagePath = "leaflet-icons/";
/*
 // nice but loads rather slow, maybe just use for larger zooms?
  var OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
  	maxZoom: 16,
  	attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
  });
  OpenTopoMap.addTo(mymap);
*/
//for alternatives see https://leaflet-extras.github.io/leaflet-providers/preview/, eg :
  var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  	maxZoom: 19,
  	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  });
  OpenStreetMap_Mapnik.addTo(mymap);


	//L.marker([51.5, -0.09]).addTo(mymap)
	//	.bindPopup("<b>Hello world!</b><br />I am a popup.");

var companiesInternship = JSON.parse('<%= @company_location_json %>');

  //var marker = L.marker([52.4569311, 13.5242551]).bindPopup("HTW Berlin").addTo(mymap);

	var popup = L.popup();

	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(mymap);
	}

	mymap.on('click', onMapClick);


  for (var i = 0; i < companiesInternship.length; i++) {
    if ((companiesInternship[i][1] != null ) && (companiesInternship[i][2] != null ))
      marker = new L.marker([companiesInternship[i][1], companiesInternship[i][2]])
          .bindPopup(companiesInternship[i][0])
          .addTo(mymap);
  }

</script>
<% if Rails.env.development? %>
<p><%= @company_location_json %></p>
<% end %>
