<table class="table table-striped text-left">
  <tbody>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox" <%= 'checked' %>> <%= link_to t "internship.personal_details" %>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox"> <%= link_to t "internship.company_details" %>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox"> <%= link_to t "internship.internship_details" %>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox"> <%= link_to t "internship.contract" %>
          </label><br>
          <span class="ml-3">
            <input type="radio" name="original" value="original"> <%= t "internship.original" %>
          </span>
          <span class="ml-3">
            <input type="radio" name="copy" value="copy"> <%= t "internship.copy" %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox"> <%= t "internship.lsf_ausdruck" %>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox"> <%= link_to t "internship.print_form" %>
          </label>
        </td>
      </tr>
  </tbody>
</table>
