<table class="table table-striped text-left">
  <tbody>
      <tr>
        <td style="width:1%">
          <% if @current_user.student.all_personal_details_filled? %>
          <i class="icon-ok icon-large text-success"></i>
          <% end %>
        </td>
        <td>
          <label class="checkbox">
            <input class="invisible" type="checkbox" <%= 'checked' if @current_user.student.all_personal_details_filled? %> id="student_<%=internship.id%>">
              <%= link_to t("complete_internships.checklist.personal_details"), @current_user.student %>
          </label>
        </td>
      </tr>
      <tr>
        <td style="width:1%">
          <% if company_address?(internship) %>
          <i class="icon-ok icon-large text-success"></i>
          <% end %>
        </td>
        <td>
          <label class="checkbox">
            <input class="invisible" type="checkbox" <%= 'checked' if company_address?(internship) %> id="company_<%=internship.id%>">
              <% if internship.company_address %>
                <%= link_to t("complete_internships.checklist.company_details"), edit_company_path(internship.company_address.company, :internship_id => internship.id)%>
              <% else %>
                <%= link_to t("complete_internships.checklist.company_details"), select_company_path(:internship_id => internship.id)%>
              <% end %>
          </label>
        </td>
      </tr>
      <tr>
        <td style="width:1%">
          <% if internship.all_internship_details_filled? %>
          <i class="icon-ok icon-large text-success"></i>
          <% end %>
        </td>
        <td>
          <label class="checkbox">
            <input class="invisible" type="checkbox" <%= 'checked' if internship.all_internship_details_filled? %> id="internship_<%=internship.id%>">
              <%= link_to t("complete_internships.checklist.internship_details"),  edit_internship_path(internship.id)%>
          </label>
        </td>
      </tr>
      <tr>
        <td style="width:1%">
          <i class="icon-ok icon-large text-success d-none" id="contract_<%=internship.id%>"></i>
          <% if !internship.contract_original.nil? && internship.contract_original == true %>
            <i class="icon-ok icon-large text-success"></i>
          <%end%>
        </td>
        <td>
          <label class="checkbox">
            <input class="invisible" type="checkbox" id="radio_contract_<%=internship.id%>"> <%= t("complete_internships.checklist.contract") %>
          </label>
          <br>
          <span class="ml-3">
            <% if !internship.contract_original.nil? && internship.contract_original == true %>
            <input type="radio" name="contract<%=internship.id%>" id="original_<%=internship.id%>" value="original" checked= true disabled = true> <%= t("complete_internships.checklist.contract_original") %>
            <% else %>
            <input type="radio" name="contract<%=internship.id%>" id="original_<%=internship.id%>" value="original" disabled = true> <%= t("complete_internships.checklist.contract_original") %>
            <%end%>
          </span>
          <span class="ml-3">
            <% if !internship.contract_original.nil? && internship.contract_original == false %>
            <input type="radio" name="contract<%=internship.id%>" id="copy_<%=internship.id%>" value="copy" checked = true disabled = true> <%= t("complete_internships.checklist.contract_copy") %>
            <% else %>
            <input type="radio" name="contract<%=internship.id%>" id="copy_<%=internship.id%>" value="copy" disabled = true > <%= t("complete_internships.checklist.contract_copy") %>
            <%end%>
          </span>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label class="checkbox" id="grades_<%=internship.id%>">
            <input class="invisible" type="checkbox" id="lsf_<%=internship.id%>"> <%= t("complete_internships.checklist.lsf_ausdruck") %>
          </label>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <small><i class="icon-ok text-success"></i> <%= t 'complete_internships.icon-ok' %></small>
        </td>
      </tr>
  </tbody>
</table>

<button type="button"
        class="btn btn-outline-success"
        data-toggle="modal"
        data-target="#missing_information"
        onclick="fillPopup(<%=internship.id%>,
                            '<%= t "complete_internships.internship" %> @ ',
                            '<%= company_name_for_checklist(internship) %>')">
  <%= t("complete_internships.checklist.check_form") %>
</button>
  <!-- remove this feature toggle if the implementation of printing the form is done-->
  <% if current_user.student? && FT.on?(:student_can_print_internship_application, current_user) %>
  <%= link_to t("complete_internships.checklist.print_form"), internship_path(internship.id, format: "pdf"), target: "_blank", class: "btn btn-outline-success" %>
  <% end %>

<!--Popup-->
<div class="modal fade" id="missing_information" tabindex="-1" role="dialog" aria-labelledby="missing_information_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="missing_information_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <p id="missing1"><%= t "internships.popup.missing1"%></p>
        <ul id="popup_list">
          <li id="pers_det"><%= t "internships.popup.personal_details"%></li>
          <li id="company_det"><%= t "internships.popup.company_details" %></li>
          <li id="internship_det"><%= t "internships.popup.internship_details" %></li>
        </ul>
        <p id="missing2"><%= t "internships.popup.missing2"%></p>
        <p id="lsf_ausdruck"><%= t "internships.popup.lsf_ausdruck"%></p>
        <p id="no_original"><%= t "internships.popup.no_original"%></p>
        <p id="clear"><%= t "internships.popup.clear"%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal"><%=t("complete_internships.checklist.thank_you")%></button>
      </div>
    </div>
  </div>
</div>

<!--JavaScript-->
<script src="app/assets/javascripts/checklist.js" charset="utf-8"></script>
