<div class="card mb-3 p-0">
  <div class="card-body pt-3 pb-0">
    <p class="card-text">
      <strong><%= t 'complete_internships.checklist.fill_application'%></strong>
    </p>

<table class="table table-striped table-sm table-borderless text-left">
  <tbody>

      <tr>
        <td style="width:1%">
          <% if @student.all_personal_details_filled? %>
          <i class="icon-ok icon-large text-success"></i>
          <% end %>
        </td>
        <td>
          <label class="checkbox">
            <input class="invisible" type="checkbox" <%= 'checked' if @student.all_personal_details_filled? %> id="student_<%=internship.id%>">
            <%= link_to(t('complete_internships.checklist.personal_details'), student_path(id: @student, cidcontext: @complete_internship.id)) %>
          </label>
        </td>
      </tr>

      <!-- CompanyAddress -->
      <tr>
        <td style="width:1%">
          <% if company_address?(internship) %>
          <i class="icon-ok icon-large text-success"></i>
                <% end %>
        </td>
        <td>
          <label class="checkbox">
            <input class="invisible" type="checkbox" <%= 'checked' if company_address?(internship) %> id="company_<%=internship.id%>">
              <% if internship.company_address %>
                <%= link_to t("complete_internships.checklist.company_details"), edit_company_path(internship.company_address.company, internship_id: internship.id, cidcontext: @complete_internship.id)%>
              <% else %>
                <%= link_to t("complete_internships.checklist.company_details"), select_company_path(internship_id: internship.id, cidcontext: @complete_internship.id)%>
              <% end %>
          </label>
        </td>
      </tr>

      <!-- Internship -->
      <tr>
        <td style="width:1%">
          <% if internship.all_internship_details_filled? %>
          <i class="icon-ok icon-large text-success"></i>
          <% end %>
        </td>
        <td>
          <label class="checkbox">
            <input class="invisible" type="checkbox" <%= 'checked' if internship.all_internship_details_filled? %> id="internship_<%=internship.id%>">
              <%= link_to t('complete_internships.checklist.internship_details'),
                      edit_internship_path(internship,   cidcontext: @complete_internship.id  ) %>

          </label>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <small id="checklist_small"><i class="icon-ok text-success"></i> <%= t 'complete_internships.icon-ok' %></small>
        </td>
      </tr>


    </tbody>
  </table>
</div>
</div>




<div class="card mb-3 p-0">
<div class="card-body pt-3 pb-0">
  <p class="card-text">
    <strong><%= t 'complete_internships.checklist.what_to_bring'%><%=link_to t('complete_internships.checklist.office_hours'), 'https://wiki.htw-berlin.de/confluence/display/~strippg/Sprechstunde', target: :blank%>?</strong>
  </p>

  <table class="table table-striped table-sm table-borderless text-left">
    <tbody>
      <tr>
        <td>
        </td>
        <td>
          <label class="checkbox" id="formprinted_<%=internship.id%>">
            <input class="invisible" type="checkbox" id="formprinted_<%=internship.id%>">
            <%=  t("complete_internships.checklist.print_form") %>
            (<%= link_to "pdf", internship_path(internship.id, format: "pdf"), target: "_blank"%>)
          </label>
        </td>
      </tr>
      <tr>
        <td style="width:1%">
          <i class="icon-ok icon-large text-success d-none" id="contract_<%=internship.id%>"></i>
          <% if internship.contract_original %>
            <i class="icon-ok icon-large text-success"></i>
          <% else %>
            <div><i class="icon-ok icon-large" style="color: rgba(0, 0, 0, 0.2)"></i></div>
          <% end %>
        </td>
        <td>
          <label class="checkbox">
            <input class="invisible" type="checkbox" id="radio_contract_<%=internship.id%>"> <%= t("complete_internships.checklist.contract") %>:
            <strong>
              <% if !internship.contract_original %>
                <%= t("complete_internships.checklist.contract_copy") %>
              <% else %>
                <%= t("complete_internships.checklist.contract_original") %>
              <%end%>
            </strong>
            (<%= link_to t('complete_internships.checklist.change'), edit_internship_path(internship,   cidcontext: @complete_internship.id  ) %>)
              <% if !internship.contract_original %>
                <br>
                <small id="checklist_small">
                  <%= t 'complete_internships.checklist.please_bring_original'%>
                </small>
              <%end%>
          </label>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label class="checkbox" id="lsf_<%=internship.id%>">
            <input class="invisible" type="checkbox" id="lsf_<%=internship.id%>">
            <%=  t("complete_internships.checklist.lsf_ausdruck") %>
            <%= link_to 'LSF', 'http://lsf.htw-berlin.de/', target: :blank %>
          </label>
          <% if current_user.admin? %>
            <%= render 'checklist_admin', internship: internship %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>

</div>
</div>
