<%= bootstrap_form_for(@complete_internship) do |f| %>

<% if @complete_internship.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(complete_internship.errors.count, "error") %> prohibited this complete_internship from being saved:</h2>

    <ul>
    <% complete_internship.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="mb-3">
  <h3><%= t "internships.details" %></h3>
    <p><%= t "internships.details2" %></p>
</div>

  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles2">
      <%= f.select 'semester_id', @semesters, class: 'chzn-select' %>
      </div>
    </div>

  <div class="col-md-4">
    <div class="field" id="field-titles2">
      <%= f.number_field :semester_of_study, in: 1..100, step: 1 %>
      </div>
    </div>
  </div>

<!-- should not be editable by student
  <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
            <%= f.check_box :aep %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="field" id="field-titles2">
          <%= f.check_box :passed %>
        </div>
      </div>
    </div>
-->

    <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
        <%= f.submit t('save')%>
        </div>
      </div>
    </div>

  <% end %>
