  <br><br>
  <%=  t("complete_internships.checklist.download_print_form") %>
  (<%= link_to "pdf", internship_path(internship.id, format: "pdf"), target: "_blank"%>)
  <div class="card mb-3 p-0">
    <div class="card-body pt-3 pb-0">
      <p class="card-text">
        <strong> <%= t "complete_internships.information" %> </strong>
      </p>
      <table class="table table-striped table-sm table-borderless">
        <tbody>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.semester" %>
              </td>
              <td>
                <%= internship.semester.try(:name) %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.start_date" %>
              </td>
              <td>
                <%= I18n.l(internship.start_date, format: :default).to_s %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.end_date" %>
              </td>
              <td>
                <%= I18n.l(internship.end_date, format: :default).to_s %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.duration" %>
              </td>
              <td>
                <%= t "internship_duration_validation.#{internship.duration.validation}" %> (<%= internship.duration.weeks %> <%= t "complete_internships.details.weeks" %>)
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.operational_area" %>
              </td>
              <td>
                <%= internship.operational_area %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.tasks" %>
              </td>
              <td>
                <%= internship.tasks %>
              </td>
            </tr>
          </tbody>
      </table>

    </div>
  </div>


  <div class="card mb-3 p-0">
    <div class="card-body pt-3 pb-0">
      <p class="card-text">
        <strong> <%= t "complete_internships.status_overview" %> </strong>
      </p>
      <table class="table table-striped table-sm table-borderless">
        <tbody>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.registration_state" %>
              </td>
              <td>
                <% if internship.registration_state %>
                  <%= t "internships.registration_state.#{internship.registration_state.id}" %>
                <% else %>
                  <%= '-' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.contract_state" %>
              </td>
              <td>
                <% if internship.contract_state %>
                  <%= t "internships.contract_state.#{internship.contract_state.id}" %>
                <% else %>
                  <%= '-' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.report_state" %>
              </td>
              <td>
                <% if internship.report_state %>
                  <%= t "internships.report_state.#{internship.report_state.id}" %>
                <% else %>
                  <%= '-' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.certificate_state" %>
              </td>
              <td>
                <% if internship.certificate_state %>
                  <%= t "internships.certificate_state.#{internship.certificate_state.id}" %>
                <% else %>
                  <%= '-' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.internship_state" %>
              </td>
              <td>
                <% if internship.internship_state %>
                  <%= t "internships.internship_state.#{internship.internship_state.id}" %>
                <% else %>
                  <%= '-' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="width:20%">
                <%= t "complete_internships.details.comment" %>
              </td>
              <td>
                <%= internship.comment %>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
