<table class="table table-striped text-left">
  <tbody>
      <tr>
        <td><%= t "complete_internships.details.semester" %></td>
        <td><%= internship.semester.try(:name) %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.start_date" %></td>
        <td><%= internship.start_date %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.end_date" %></td>
        <td><%= internship.end_date %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.operational_area" %></td>
        <td><%= internship.operational_area %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.tasks" %></td>
        <td><%= internship.tasks %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.internship_report" %></td>
        <td><%= internship.internship_report %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.registration_state" %></td>
        <td><%= internship.registration_state.try(:name) %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.contract_state" %></td>
        <td><%= internship.contract_state.try(:name) %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.report_state" %></td>
        <td><%= internship.report_state.try(:name) %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.certificate_state" %></td>
        <td><%= internship.certificate_state.try(:name) %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.internship_state" %></td>
        <td><%= internship.internship_state.try(:name) %></td>
      </tr>
      <tr>
        <td><%= t "complete_internships.details.comment" %></td>
        <td><%= internship.comment %></td>
      </tr>
  </tbody>
</table>
