<div class="row">

  <div class="col-4">
    <div class="card">
      <div class="card-header text-center">Limit - Company Search</div>
      <div class="card-body text-center">
        <h4 class="mt-3 mb-4"><%= @wiewed_companies_search %>/<%= @company_search_limit %></h4>
        <%= button_to "Reset", { controller: "user_can_see_companies", action: "reset_limit_search", student_id: @complete_internship.student.id }, method: :delete, class: "btn btn-outline-danger mb-3 mt-1", id: "company_search" %>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header text-center">Limit - Company Suggest</div>
      <div class="card-body text-center">
        <h4 class="mt-3 mb-4"><%= @wiewed_companies_suggest %>/<%= @company_suggest_limit %></h4>
        <%= button_to "Reset", { controller: "user_can_see_companies", action: "reset_limit_suggest", student_id: @complete_internship.student.id }, method: :delete, class: "btn btn-outline-danger mb-3 mt-1", id: "company_suggest" %>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header text-center">Limit - Internship Search</div>
      <div class="card-body text-center">
        <h4 class="mt-3 mb-4"><%= @wiewed_internships_search %>/<%= @internship_search_limit %></h4>
        <%= button_to "Reset", { controller: "user_can_see_internships", action: "reset_limit", student_id: @complete_internship.student.id }, method: :delete, class: "btn btn-outline-danger mb-3 mt-1", id: "internship_search" %>
      </div>
    </div>
  </div>


</div>
