<div id="form-block4">

  <p id="notice"><%= notice %></p>

  <h3><%= t("complete_internships.header") %></h3>

  <table class="table table-striped text-left">
    <thead>
      <tr>
        <th><%= t("complete_internships.student") %></th>
        <th><%= t("complete_internships.semester") %></th>
        <th><%= t("complete_internships.semester_of_study") %></th>
        <th><%= t("complete_internships.aep") %></th>
        <th><%= t("complete_internships.passed") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @complete_internships.each do |complete_internship| %>
        <tr>
          <td><%= complete_internship.student %></td>
          <td><%= complete_internship.semester %></td>
          <td><%= complete_internship.semester_of_study %></td>
          <td><%= complete_internship.aep %></td>
          <td><%= complete_internship.passed %></td>
          <td><%= link_to 'Show', complete_internship %></td>
          <td><%= link_to 'Edit', edit_complete_internship_path(complete_internship) %></td>
          <td><%= link_to 'Destroy', complete_internship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Complete Internship', new_complete_internship_path %>
</div>
