<div id="form-block4">

  <h3><%= t("complete_internships.header") %> <%= @semester.try(:name) %></h3>
  <%= form_tag(complete_internships_path, method: "get") do %>
    <%= select_tag(:semester_id,
                   options_for_select(@semester_options,@semester.id),
                   class: 'chzn-select',
                   id: 'semester_select') %>
    <%= submit_tag(t('internships.index.select')) %>
  <% end %>
  <br>
  <table class="table table-striped text-left">
    <thead>
      <tr>
        <th><%= t 'complete_internships.student' %></th>
        <th><%= t 'complete_internship.enrolment_number' %></th>
        <th><%= t 'complete_internships.header_semester' %></th>
        <th><%= t 'complete_internships.semester_of_study' %></th>
        <th><%= t 'complete_internships.number_of_internships' %></th>
        <th><%= t 'complete_internships.aep' %></th>
        <th><%= t 'complete_internships.passed' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @complete_internships.each do |complete_internship| %>
        <tr>
          <td><%= complete_internship.student.try(:first_name) %> <%= complete_internship.student.try(:last_name) %></td>
          <td><%= complete_internship.student.try(:enrolment_number) %></td>
          <td><%= complete_internship.semester.try(:name) %></td>
          <td><%= complete_internship.semester_of_study %></td>
          <td><%= complete_internship.internships.size %> </td>
          <td><%= complete_internship.aep %></td>
          <td><%= complete_internship.passed %></td>
          <td><%= link_to 'Show', complete_internship %></td>
          <td><%= link_to 'Edit', edit_complete_internship_path(complete_internship) %></td>
          <td><%= link_to 'Destroy', complete_internship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <p>Found <%= @complete_internships_count %> internships.</p>
  <%= link_to 'New Complete Internship', new_complete_internship_path %>
</div>
