
<div class="margin_bottom_10">

<div id="form-block4" class="text-left">
    <h4><%= @complete_internship.student.try(:first_name) %>
      <%= @complete_internship.student.try(:last_name) %>
      <%= t "complete_internships.semester" %>
      <%= @semester_name %>
      <% if @complete_internship.semester_of_study %>
        (<%= @complete_internship.semester_of_study %>.
        <%= t 'activerecord.attributes.complete_internship.semester_of_study' %>)
      <% end %>
    </h4>
    <br>


    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">

          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th scope="col" colspan="2"><%= t "complete_internships.modulname" %></th>
                <th scope="col"><%= t "complete_internships.modulnumber" %></th>
                <th scope="col"><%= t "complete_internships.status" %></th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col" colspan="4"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" colspan="2"><%= t "complete_internships.ci.number" %></th>
                <td><%= t "complete_internships.ci.name" %></td>
                <td><%= t "complete_internships.ci.values.#{@complete_internship.passed}" %></td>
              </tr>
              <tr>
                <th></th>
                <th scope="row"><%= t "complete_internships.aep.number" %></th>
                <td><%= t "complete_internships.aep.name" %></td>
                <td><%= t "complete_internships.aep.values.#{@complete_internship.aep}" %></td>
              </tr>
              <tr>
                <th></th>
                <th scope="row"><%= t "complete_internships.parcial_internships.number" %></th>
                <td><%= t "complete_internships.parcial_internships.name" %></td>
                <td><%= t "complete_internships.parcial_internships.values.#{@complete_internship.over?}" %></td>
              </tr>
            </tbody>
          </table>

        </p>
      </div>
    </div>

    <% if @complete_internship.student %>
      <div class="card-deck">
        <% @complete_internship.internships.order(:id).each do |internship|%>
          <% caneditinternship = can? :edit, internship %>
          <div class="card border-<%= caneditinternship ? 'secondary' : 'success' %>">
            <div class="card-header"><%= internship.internship_state.try(:name) %></div>
            <div class="card-body">
              <h5 class="card-title " id="h5_inline" ><%= t "complete_internships.internship" %> @
                <%= company_name_for_checklist(internship) %></h5>
                <% if !internship.approved %>
                 <%= button_to 'x', internship_path(internship.id), :method => :delete, data: {confirm: 'Bist du dir sicher, dass du das Praktikum löschen willst?'}, :class => "deleteButton"  %>
                <% end %>
              <p class="card-text">
                <% if caneditinternship %>
                  <%= render 'checklist',internship: internship %>
                <% else %>
                  <%= render 'partial_internship', internship: internship %>

                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <!--<strong><%= @complete_internship.student.internships.size == 0 ? t('complete_internships.no_internships') : '' %></strong>-->
    <% end %>

  <br>
    <%= link_to @complete_internship.student.internships.size == 0 ? t('complete_internships.new_tp0') : t('complete_internships.new_tp'), new_internship_path %>
    <br><br><br>
    <% if can? :edit, @complete_internship %>
    <%= link_to t('buttons.edit'), edit_complete_internship_path(@complete_internship) %>
     |
    <% end %>
     <%= link_to t('buttons.back'), 'javascript:history.back()' %>


</div>
</div>
