
<div class = "wrapper">
  <div class = "container clear-top">
    <div class = "text-left" id = "form-block4">
      <h1><%= t "welcome.help.header" %></h1>
      <h2><%= t "welcome.help.question1" %></h2>
      <p><%= t "welcome.help.answer1" %></p>
      <h2><%= t "welcome.help.question2" %></h2>
      <ol class="list-marker-inside">
        <li><a href="https://imi-bachelor.htw-berlin.de/studium/praktikum/"><%= t "welcome.help.answer2_checklist" %></a></li>
        <li><a href="mailto:imi-praktikum@htw-berlin.de"><%= t "welcome.help.answer2_contact" %></a></li>
      </ol>
    </div>
  </div>
</div>
