
<div class = "wrapper">
  <div class = "container clear-top">
    <div class = "text-left" id = "form-block4">
      <div class = "pb-5">
        <h2><%= t "welcome.help.header" %></h2>
        <p><%= t "welcome.help.description" %></p>
        <h3><%= t "welcome.help.questions" %></h3>
        <h4><%= t "welcome.help.question1" %></h4>
        <p><%= t "welcome.help.answer1" %></p>
        <h4><%= t "welcome.help.question2" %></h4>
        <ol class="list-marker-inside">
          <li><a href="https://imi-bachelor.htw-berlin.de/studium/praktikum/"><%= t "welcome.help.answer2_checklist" %></a></li>
          <li><a href="mailto:imi-praktikum@htw-berlin.de"><%= t "welcome.help.answer2_contact" %></a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
