<h1>My Internship Status</h1>



		<p><%= @internship.registration_state.name %></p>

    <br/>

    <p><%= @internship.report_state.name %></p>

<br/>

<p><%= @internship.internship_state.name %></p>

<br/>

<p><%= @internship.certificate_state.name %></p>

<br/>

<p><%= @internship.contract_state.name %></p>


