


<h1>My Internship Status</h1>

<% if @internship.present? %>

<div >
  <p class="name"> <%= t "Name" %> : <strong> <%= @internship.student.name %></p></strong>
  <p class="name"> <%= t "students.attributes.enrolment_number" %> : <strong> <%= @internship.student.enrolment_number %></p></strong>
</div>

<section class = "greenBox">


  <% if @internship.registration_state.nil? %>

      <p> <%= t "activerecord.attributes.internshipregistration_state" %> : Waiting ... </p>

  <% else %>

      <p class = ""> <%= t "activerecord.attributes.internshipregistration_state" %> : <%= @internship.registration_state.name %></p>

  <% end %>

  <br/>



  <% if @internship.report_state.nil? %>
      <p> <%= t "activerecord.attributes.internshipreport_state" %> : Waiting ... </p>

  <% else %>

      <p> <%= t "activerecord.attributes.internshipreport_state" %> : <%= @internship.report_state.name %></p>

  <% end %>

  <br/>

  <% if @internship.internship_state.nil? %>

      <p> <%= t "activerecord.attributes.internshipinternship_state" %> : Waiting ... </p>

  <% else %>
      <p> <%= t "activerecord.attributes.internshipinternship_state" %> : <%= @internship.internship_state.name %></p>

  <% end %>
  <br/>


  <% if @internship.certificate_state.nil? %>

      <p> <%= t "activerecord.attributes.internshipcertificate_state" %> : Waiting ... </p>

  <% else %>
      <p> <%= t "activerecord.attributes.internshipcertificate_state" %> : <%= @internship.certificate_state.name %></p>

      <br/>
  <% end %>


  <% if @internship.contract_state.nil? %>

      <p> <%= t "activerecord.attributes.internshipcontract_state" %> : Waiting ... </p>

  <% else %>
      <p> <%= t "activerecord.attributes.internshipcontract_state" %> : <%= @internship.contract_state.name %></p>

  <% end %>


</section>


<% else %>

    <div>
      no data found, please create your internship first
    </div>

<% end %>
