<div class="container">
  <%= bootstrap_form_for @company do |a| %>
  <%= a.hidden_field :internship_id, :value => @internship.try(:id) %>
  <% if @company.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h4>

    <ul>
      <% @company.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.text_field :name%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.number_field :number_employees %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.text_field :industry %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.text_field :main_language %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.text_field :website %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles2">
      <%= a.submit t('save')%>
      </div>
    </div>
  </div>

  <% end %>
</div>
