<%= render 'required_attributes_legend' %>
<div class="container">
  <%= bootstrap_form_for @company do |f| %>
  <%= f.hidden_field :internship_id, :value => @internship.try(:id) %>
  <% if @company.errors.any? %>
  <div id="error_explanation">
    <div><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</div>

    <ul>
      <% @company.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="row">
    <div class="col-md-6">
      <div class="field" id="field-titles">
        <% if params[:name] %>
        <%= f.text_field :name, required_application(f, :name, value: params[:name])  %>
        <% else %>
        <%= f.text_field :name, required_application(f, :name) %>
        <%end%>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.number_field :number_employees, required_application(f, :number_employees) %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.text_field :industry, required_application(f, :industry) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.text_field :main_language, required_application(f, :main_language) %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.text_field :website, required_application(f, :website) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="field" id="field-titles2">
      <%= f.button t('companies.continue_to_address')%>
      </div>
    </div>
  </div>
  <% end %>
</div>
