<div class="container">
  <%= bootstrap_form_for(@company) do |a| %>
  <% if @company.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

    <ul>
      <% @company.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.text_field :name%>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.number_field :number_employees %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.text_field :industry %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.text_field :main_language %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= a.text_field :website %>
      </div>
    </div>
    
  </div>


  <div class="row">
  <div class="pull-right">
   <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
    <i class="icon-ok icon-white"></i> <%= t("companies.create")%>
    <% end %>
  </div>
  </div>
  </div>

  <% end %>
</div>
