

<div class="container">
  <%= bootstrap_form_tag do |f| %>
  <%= f.hidden_field :internship_id, :value => params[:internship_id] %>


  <h3><%= t "companies.select.companyname" %></h3>
  <p><%= t "companies.give_name" %></p>
  <div class="row">
    <div class="col-md-10">
      <div class="field" id="field-titles">
      <%=f.text_field :name, skip_label: :true %>
    </div>
  </div>
    <div class="col-md-2">
      <div class="field" id="field-titles2">
        <%= f.submit  t "companies.continue2" %>
      </div>
    </div>
  </div>


<% end %>
</div>
