<p id="notice"><%= notice %></p>

<p>
  <b><%= t "companies.attributes.name"  %> :</b>
  <%= @company.name %>
</p>
<% if false #TBD ST %>
<p>
  <b><%= t "companies.attributes.address"  %>:</b>
  <%= "#{@company.street}, #{@company.zip} #{@company.city}, #{@company.country}" %>
</p>
<% end %>

<p>
  <b><%= t "companies.attributes.website"  %> :</b>
  <%= @company.website %>
</p>

<p>
  <b><%= t "companies.attributes.industry"  %> :</b>
  <%= @company.industry %>
</p>
<p>

  <p>
    <b><%= t "companies.attributes.number_employees"  %> :</b>
    <%= @company.number_employees %>
  </p>


  <b><%= t "companies.attributes.main_language"  %> :</b>
  <%= @company.main_language %>
</p>
<p>
