<div id="form-block4" class="text-left">
<div class="container">
    <%= hidden_field :i, :value => params[:internship_id] %>
  <div class="row">
    <div class="col-md-4">
      <% if @company_suggestion.count != 0 %>
      <h3><%= t "companies.suggestion" %></h3>
        <% @company_suggestion.each do |c|%>
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to c.name, suggest_address_path(:company_id => c.id, :internship_id => params[:i])%>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
 <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
      <h3><% if @company_suggestion.count != 0 %>
            <%= t("companies.no_match") %>
          <% else %>
          <%= t("companies.no_match1") %>
          <% end %>
      </h3>
        <li class="list-group-item">
          <%= link_to params[:name], new_company_path(:name => params[:name], :internship_id => params[:i])%>
        </li>
      </ul>
    </div>
  </div>
  </div>

</div>
</div>
