<div id="form-block4" class="text-left">


  <div class="container">
<%= render 'search_company' %>

    <%= hidden_field :internship_id, :value => params[:internship_id] %>
  <h3><%= t "companies.suggestion" %></h3>
  <div class="row">
    <div class="col-md-4">
    <% if @company_suggestion.name %>
      <% @company_suggestion.each do |c|%>
        <ul class="list-group">
          <li class="list-group-item">
            <%= link_to c.name, suggest_address_path(:company_id => c.id, :internship_id => params[:internship_id])%>
            </li>
        </ul>
        <% end %>
    <% end %>
    </div>
  </div>
 <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
      <h3><%= t "companies.no_match" %></h3>
        <li class="list-group-item">
          <%= link_to params[:name], new_company_path(:name => params[:name], :internship_id => params[:internship_id])%>
        </li>
      </ul>
    </div>
  </div>
  </div>
<div class="mt-5 ml-3">
  <%= link_to t('buttons.back'), 'javascript:history.back()' %>
</div>
</div>
</div>
