<div class="container">
  <% if @results.nil? %>
    NO RESULTS
  <% else %>
    <p class="text-center p-1"><%=t('search.results_found.start')%> <%= @results.count %> <%=t('search.results_found.finish')%></p>
  <table class="table table-striped table-sm table-borderless text-left">
    <tbody>
      <tr>
        <td class="font-weight-bold"><%=t('search.tableheaders.company')%></td>
        <td class="font-weight-bold"><%=t('search.tableheaders.location')%></td>
        <td class="font-weight-bold"><%=t('search.tableheaders.orientation')%></td>
        <td class="font-weight-bold"></td>
      </tr>
    <% @results.each do |result| %>
          <tr>
            <td><%=result.company_address.try(:company).try(:name)%></td>
            <td><%=result.company_address.try(:city)%>
              <% if !result.company_address.try(:country_name).nil? %>
                <%=", " + result.company_address.try(:country_name)%>
              <% end %>
            </td>
            <td><%=result.orientation.try(:name)%></td>
            <td><button class="btn btn-outline-success float-right" type="button" data-toggle="collapse" data-target="#collapse<%=result.id%>" aria-expanded="false" aria-controls="collapse<%=result.id%>">
              Details
            </button></td>
          </tr>
          <tr class="collapse" id="collapse<%=result.id%>">
            <td colspan="7">
              <% if result.semester %>
                <p class="pl-3">
                  <strong>Semester: </strong>
                  <%=result.semester.name%>
                </p>
              <% end %>
              <% if !result.programming_languages.empty? %>
                <p class="pl-3">
                  <strong><%=t('search.headers.programming_languages')%>: </strong>
                  <%=result.programming_languages.map(&:name).join(', ')%>
                </p>
              <% end %>
              <% if !result.payment_state.nil? %>
                <p class="pl-3">
                  <strong><%=t('search.headers.paid')%>: </strong>
                  <%=result.payment_state.name%>
                </p>
              <% end %>
              <% if !result.company_address.company.website.nil? %>
                <% if !result.company_address.company.website.empty? %>
                <p class="pl-3">
                  <strong><%=t('search.headers.website')%>: </strong>
                  <a href="<%= result.company_address.company.website %>" target="_blank">
                    <%= result.company_address.company.website %>
                  </a>
                </p>
              <% end %>
            <% end %>
              <% if !result.tasks.empty? %>
                <p class="pl-3">
                  <strong><%=t('search.headers.tasks')%>: </strong>
                  <%=result.tasks%>
                </p>
              <% end %>
            </td>
          </tr>
    <% end %>

  </tbody>
</table>
  <% end %>
</div>
