<div class="margin_bottom_10">
<div id="form-block4" class="text-left">
    <h4 class="mb-3"><%= t("search.header")%></h4>
    <% unless @current_user.admin? %>
    <div class="card text-white bg-success mt-2 mb-4 ml-3">
      <div class="card-body p-1">
        <p class="card-text"><strong><%= t 'search.notice.header' %>:</strong>
            <%= t 'search.notice.text1' %> <%=@internship_limit%> <%= t 'search.notice.text2' %>
        </p>
      </div>
    </div>
  <% end %>
    <%= render 'form_search'%>



</div>
<div id="form-block4">
  <%= render 'previous_search_results' %>
</div>

<%= render 'maps/search_results_map_view',  locals: {company_location_json: @company_location_json} %>
</div>
