<div class="margin_bottom_10">
<div id="form-block4" class="text-left mt-5 mx-3">
    <h4 class="mb-3"><%= t("search.header")%></h4>
    <% unless @current_user.admin? %>
    <div class="card text-white bg-success mt-2 mb-4 ml-3">
      <div class="card-body p-1">
        <p class="card-text"><strong><%= t 'search.notice.header' %>:</strong>
            <%= t 'search.notice.text1' %> <%=@internship_limit%> <%= t 'search.notice.text2' %>
        </p>
      </div>
    </div>
  <% end %>
    <%= render 'form_search'%>

</div>
<div id="form-block4" class="m-3">
<button type="button" id="maptoggler" class="btn-maptoggle btn btn-success text-white mb-3">Karte zeigen</button>
<p class="text-center p-1"><%= @previous_results.count %><%=('search.previous_results')%> </p>
<div id="sarch-results" class="sarch-results">
  <%= render 'previous_search_results' %>
</div>
<div id="map-results" class="">
<%= render 'maps/search_results_map_view'%>
</div>
</div></div>

<script>
  $('#map-results').hide()

  $('.btn-maptoggle').on('click', () => {
    if ($('#map-results').is(':visible')){
      $('#map-results').hide()
      $('#sarch-results').show()
      $('#maptoggler').text('Karte zeigen')
    } else {
      $('#map-results').show()
      $('#sarch-results').hide()
      $('#maptoggler').text('Liste zeigen')
    }
  })
</script>
