<div id="form-block4">
<h3><%= t("header.exchange") %></h3>
<% counter = 0 %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("header.title") %></th>
      <th><%= t("header.city") %></th>
      <th><%= t("header.country") %></th>
    </tr>
  </thead>

<tbody>
    <% @offers.each do |x| %>
    <% counter +=1 %>
      <tr>
        <td><%= link_to x.title, x %></td>
        <td><%=x.city %></td>
        <td><%=x.country %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>There are currently <%= counter %> Internship Offers.</th>
    </tr>
</tfoot>
</table>
<div id="askForCreation">
  <%= "If you want to share any info regarding available internship position, please share here" %>
  <%= link_to t("share internship offer"),  new_internship_offer_path %>
</div>

</div>
