<div id="form-block5">
<h3> <%= @offer.title %></h3>
<dl>
  <dt>Country</dt>
  <dd><%= @offer.country %></dd>
  <dt>City</dt>
  <dd><%= @offer.city %></dd>
</dl>

<% if @offer.body.present? %>
<p id="internship_off_text"> <%= @offer.body %> </p>
<% end %>
<% if @offer.pdf.present? %>
<%= link_to "Download PDF", "#{@offer.pdf}" %>
<% end %>
<%= link_to t('buttons.back'), 'javascript:history.back()' %>
</div>
