<%= bootstrap_form_for(@internship) do |f| %>

<% if @internship.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</h4>

    <ul>
    <% @internship.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <h3><%= t "internships.details" %></h3>

  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles2">
      <%= f.select 'semester_id', @semesters, class: 'chzn-select' %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
        <%= f.submit t('save')%>
        </div>
      </div>
    </div>

  <% end %>
