<div id="student" class="tabcontent ">
  <h3>Personal Details</h3>

  <div class="row">
    <div class="col-md-4">
      <div id="field-titles">
      <%=t "students.attributes.enrolment_number" %><br />
    <span class="form-control-static"><%=@current_user.student.enrolment_number%></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="field" id="field-titles2">
      <%= t "users.attributes.first_name" %>
      <span class="form-static" required="true"><%= @current_user.student.first_name %></span>
      </div>
    </div>
  <div class="col-md-4">
    <div class="field" id="field-titles2">
      <%= t "users.attributes.last_name" %>
      <span class="form-static"><%= @current_user.student.last_name %></span>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
        <%=t "students.attributes.birthday" %>
        <span class="form-static"><%=@current_user.student.birthday%></span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="field" id="field-titles2">
          <%=t "students.attributes.birthplace" %>
          <span class="form-static"><%=@current_user.student.birthplace%></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
          <%=t "students.attributes.email" %>
          <span class="form-static"><%=@current_user.student.email%></span>
        </div>
      </div>
    </div>

    <h5>Address</h5>

    <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
          <%=t "students.attributes.street" %>
          <span class="form-static"><%=@current_user.student.street%></span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="field" id="field-titles2">
        <%=t "students.attributes.zip" %></b>
        <span class="form-static"><%=@current_user.student.zip%></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles2">
        <%=t "students.attributes.city" %></b>
        <span class="form-static"><%=@current_user.student.city%></span>
        </div>
      </div>
    </div>
  </div>
