<div class="container">
  <%= bootstrap_form_for @internship do |f| %>

<div class="row">
  <div class="col-md-6">
    <div class="field" id="field-titles">
      <%= f.label :title, t("internships.attributes.title1") %>
      <%= f.text_field :title, placeholder: t("internships.attributes.placeholder_title"), skip_label: true  %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="field" id="field-titles">
      <%= f.label :semester_id, t("internships.attributes.semester1") %>
      <%= f.select :semester_id, semesters, class: 'chzn-select', skip_label: true  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="field" id="field-titles" onfocusout="validateDuration()">
      <%= label_with_req f, :start_date, t("internships.attributes.start_date") %>
      <%= f.label :start_date, t("internships.attributes.start_date1") %>
      <%= f.date_field :start_date, placeholder: t('date.formats.placeholder'), skip_label: true  %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="field" id="field-titles" onfocusout="validateDuration()">
      <%= f.label :end_date, t("internships.attributes.end_date1") %>
        <small id="validation_notification" class="font-weight-light text-muted"> - <%= t("internship_duration_validation.#{@internship.duration.validation}")%></small>
      <%= f.date_field :end_date, placeholder: t('date.formats.placeholder'), skip_label: true  %>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-6">
    <div class="field" id="field-titles">
      <%= f.label :operational_area, t("internships.attributes.operational_area") %>
      <%= f.text_field :operational_area, placeholder: t('internships.attributes.placeholder_oa'), skip_label: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="field" id="field-titles">
      <%= f.label :orientation_id, t("internships.attributes.orientation") %>
    <%= f.select :orientation_id, orientations, class: 'chzn-select', skip_label: true  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="field" id="field-titles">
      <%= f.label :tasks, t("internships.attributes.tasks1") %>
      <%= f.text_area :tasks, size: "4x5", placeholder: t("internships.attributes.placeholder_tasks"), skip_label: true  %>
    </div>
  </div>

  <div class="col-md-6">
  <div class="field" id="field-titles">
    <%= f.select :programming_language_ids, @programming_languages, {}, { :multiple => true, class: 'chzn-select'} %>
</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="field" id="field-titles">
      <%= f.label :working_hours, t("internships.attributes.working_hours") %>
      <%= f.text_field :working_hours, hide_label: true, skip_label: true  %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="field" id="field-titles">
    <%= f.label :salary, t("internships.attributes.salary")%>
      <%= f.text_field :salary, hide_label: true, skip_label: true  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="field" id="field-titles">
      <%= f.label :supervisor_name, t("internships.attributes.supervisor_name1") %>
      <%= f.text_field :supervisor_name, hide_label: true, skip_label: true  %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="field" id="field-titles">
    <%= f.label :supervisor_phone, t("internships.attributes.supervisor_phone1")%>
      <%= f.text_field :supervisor_phone, hide_label: true, skip_label: true  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="field" id="field-titles">
    <%= f.label :supervisor_email, t("internships.attributes.supervisor_email1")%>
      <%= f.text_field :supervisor_email, hide_label: true, skip_label: true  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="field" id="field-titles2">
    <%= f.submit t('save')%>
    </div>
  </div>
</div>

</div>

<%= link_to t('buttons.back'), 'javascript:history.back()' %>
</div>
<%end%>
</div>


<script type="text/javascript">
  function validateDuration() {
    var start_date = document.getElementById("internship_start_date").value;
    var end_date = document.getElementById("internship_end_date").value;

    start_date = parseEuropeanDate(start_date);
    end_date = parseEuropeanDate(end_date);

    var duration = weeksBetween(start_date, end_date);
    var validation = validate(duration);
    setValidationText(validation);
  }

  function parseEuropeanDate(dateString) {
    var date_ok = Date.parse(dateString);
    if (isNaN(date_ok) == false) {
      return new Date(dateString);
    } else {
      var delimeter;
      if (dateString.includes('.')) {
        delimeter = ".";
      } else if (dateString.includes('-')) {
        delimeter = "-";
      } else if (dateString.includes('/')) {
        delimeter = "/";
      }
      //https://stackoverflow.com/a/35222673/10151112
      //dd.mm.yyyy, or dd.mm.yy
      var dateArr = dateString.split(delimeter);
      if (dateArr.length == 1) {
        return null;    //wrong format
      }
      //parse time after the year - separated by space
      var spacePos = dateArr[2].indexOf(" ");
      if(spacePos > 1) {
        var timeString = dateArr[2].substr(spacePos + 1);
        var timeArr = timeString.split(":");
        dateArr[2] = dateArr[2].substr(0, spacePos);
        if (timeArr.length == 2) {
            //minutes only
            return new Date(parseInt(dateArr[2]), parseInt(dateArr[1]-1), parseInt(dateArr[0]), parseInt(timeArr[0]), parseInt(timeArr[1]));
        } else {
            //including seconds
            return new Date(parseInt(dateArr[2]), parseInt(dateArr[1]-1), parseInt(dateArr[0]), parseInt(timeArr[0]), parseInt(timeArr[1]), parseInt(timeArr[2]))
        }
      } else {
        //gotcha at months - January is at 0, not 1 as one would expect
        return new Date(parseInt(dateArr[2]), parseInt(dateArr[1] - 1), parseInt(dateArr[0]));
      }
    }
  }

  function weeksBetween(start_date, end_date ) {
    //https://www.htmlgoodies.com/html5/javascript/calculating-the-difference-between-two-dates-in-javascript.html
    //Get 1 day in milliseconds
    var one_week=7*1000*60*60*24;
    // Convert both dates to milliseconds
    var start_date_ms = start_date.getTime();
    var end_date_ms = end_date.getTime();
    // Calculate the difference in milliseconds
    var difference_ms = end_date_ms - start_date_ms;
    // Convert back to days and return
    return Math.round(difference_ms/one_week);
  }

  function validate(duration) {
    var validationNotification = document.getElementById("validation_notification");
    //from app/models/internship_duration.rb
    if (duration < 0) {
      validationNotification.textContent = ' - <%= t("internship_duration_validation.negative") %>';
    } else if (duration < 4) {
      validationNotification.textContent = ' - <%= t("internship_duration_validation.too_short") %>';
    } else if (duration < 19) { //not beautiful because of hardcoded duration
      validationNotification.textContent = ' - <%= t("internship_duration_validation.ok_for_part") %>';
    } else {
      validationNotification.textContent = ' - <%= t("internship_duration_validation.ok") %>';
    }
  }
</script>
