
<h2><%= t "search.title" %></h2>

<table>
  <tr>
    <th>First Name</th>
    <th>Start Date</th>
    <th>End Date</th></tr>
<% @internships.each do |internship| %>
<tr>
  <td>
    <%= internship.student.first_name %>
  </td>

  <td>
    <%= internship.start_date %>
  </td>
  <td>
    <%= internship.end_date %>
  </td>
</tr>
<% end %>
</table>

Hello. Found <%= @internship_count %> internships.
