<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= t('complete_internship.first_name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('complete_internship.last_name') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('complete_internship.enrolment_number') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('complete_internship.company') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('complete_internship.city') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('complete_internship.country') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('complete_internship.start_date') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t('complete_internship.end_date') %></Data></Cell>

      </Row>
    <% @complete_internships.each do |ci| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= ci.first_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ci.last_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ci.enrolment_number %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ci.company %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ci.city %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ci.country %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ci.start_date %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ci.end_date %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
