<div id="form-block-wide">
<h3><%= t('internships.index.title')%> <%= @semester.name %></h3>
<%= form_tag(internships_path, method: "get") do %>
  <%= select_tag(:semester_id,
                 options_for_select(@semester_options,@semester.id),
                 class: 'chzn-select',
                 id: 'semester_select') %>
  <%= submit_tag(t('internships.index.select')) %>
<% end %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <% @header_names.each do |heading| %>
      <th><%= heading %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @complete_internships.each do |ci| %>
    <tr>
    <% @field_names.each do |field|%>
    <td> <%= ci.send("#{field}") %></td>
    <%end%>
    </tr>
  <% end %>
  </tbody>
</table>
<p>Found <%= @internship_count %> internships.</p>
<p>
  Download:
  <%= link_to t('internships.index.export.csv'), internships_path(semester_id: @semester.id, format: "csv") %> |
  <%= link_to t('internships.index.export.excel'), internships_path(semester_id: @semester.id, format: "xlsx") %>
</p>
</div>
