<div id="form-block4">
<h3>Internships in <%= @semester_name %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <% @header_names.each do |heading| %>
      <th><%= heading %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @complete_internships.each do |ci| %>
    <tr>
    <% COMPLETE_INTERNSHIP_MEMBERS.each do |field|%>
    <td> <%= ci.send("#{field}") %></td>
    <%end%>
    </tr>
  <% end %>
  </tbody>
</table>
<p>Found <%= @internship_count %> internships.</p>
<p>
  Download:
  <%= link_to "CSV", internships_path(format: "csv") %> |
  <%= link_to "Excel", internships_path(format: "xlsx") %>
</p>
</div>
