<div class="row" id="form-block2">

<%= form_for(@internship) do |f| %>

  <div class="row">
    <div class="span4"> 
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.name" %><br />
        <%= f.text_field :name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4"> 
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.department" %><br />
        <%= f.text_field :department %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.street" %><br />
        <%= f.text_field :street %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span2"> 
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.zip" %><br />
        <%= f.number_field :zip %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="span4"> 
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.city" %><br />
        <%= f.text_field :city %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.country" %><br />
        <%= f.country_select :country, ["United States"], class: 'chzn-select' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4"> 
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.advisor" %><br />
        <%= f.text_field :advisor %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4"> 
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.phone" %><br />
        <%= f.number_field :phone %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4"> 
      <div class="field" id="field-titles">
        <%= f.label t "companies.attributes.email" %><br />
        <%= f.text_field :email %>
      </div>
    </div>
  </div>
  <% end %>
</div>