<div class="row" id="form-block2">

  <% if @internship.errors.any? %>
  <div class="error_explanation">
    <strong><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</strong>

    <ul>
      <% @internship.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= nested_form_for @internship do |f| %>

  <%= f.fields_for :users do |u_form| %>

  <h2>Student Information</h2>

  <div class="row">
    <div class="span4"> 
     <div class="field" id="field-titles">
      <%= u_form.label t "students.attributes.enrolment_number" %><br />
      <%=@current_user.student.enrolment_number%>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.first_name" %><br />
    <%=@current_user.student.first_name%>
  </div>
</div>
</div>


<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.last_name" %><br />
    <%=@current_user.student.last_name%>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.birthday" %><br />
    <%=@current_user.student.birthday%>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.birthplace" %><br />
    <%=@current_user.student.birthplace%>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.email" %><br />
    <%=@current_user.student.email%>
  </div>
</div>
</div>

<h2>Select a Company</h2>

<div class="field" id="field-titles">
 <%= f.label t "internships.attributes.company" %>
 <%= f.select :company_id, Company.order(:name).map { |c| [c.name, c.id] },{}, class: 'chzn-select', disabled: false %>
 <%= t "Company not found?" %>
 <%= link_to t("companies.createNewCompany"), new_company_path(returnToForm: true) %>
</div>

<h2>Internship specification</h2>

<div class="row">
  <div class="span4"> 
    <div class="field" id="field-titles">
      <%= f.label t "internships.attributes.title" %><br />
      <%= f.text_field :title %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span3"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.start_date" %><br />
    <%= f.date_field :start_date %>
  </div>
</div>

<div class="span3"> 
 <div class="field" id="field-titles">
  <%= f.label t "internships.attributes.end_date" %><br />
  <%= f.date_field :end_date %>
</div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.operational_area" %><br />
    <%= f.text_field :operational_area %>
  </div>
</div>
</div>

<div class="row">
  <div class="span8"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.tasks" %><br />
    <%= f.text_area :tasks, size: "30x5" %>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.programming_language" %><br />
    <%= f.select :programming_languages, get_programming_languages, {}, { :multiple => true, class: 'chzn-select'} %>
  </div>
</div>

<div class="span4"> 
 <div class="field" id="field-titles">
  <%= f.label t "internships.attributes.orientation" %><br />
  <%= f.select :orientation, get_orientations, {}, class: 'chzn-select' %>
</div>
</div>
</div>

<div class="row">
  <div class="span4"> 
    <div class="field" id="field-titles">
      <%= f.label t("internships.attributes.salary") + " € / " + t("unit.month") %><br />
      <%= f.text_field :salary %>
    </div>
  </div>
  
  <div class="span4">
    <div class="field" id="field-titles">
      <%= f.label t("internships.attributes.working_hours") + " / " + t("unit.week") %><br />
      <%= f.text_field :working_hours %>
    </div>
  </div>
</div>  

<div class="row">
  <div class="span4"> 
    <div class="field" id="field-titles">
      <%= f.label t "internships.attributes.supervisor_name" %><br />
      <%= f.text_field :supervisor_name %>
    </div>
  </div>

  <div class="span4"> 
    <div class="field" id="field-titles">
      <%= f.label t "internships.attributes.supervisor_email" %><br />
      <%= f.text_field :supervisor_email %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.semester" %><br />
    <%= f.select :semester_id, get_semesters, {}, class: 'chzn-select' %>
  </div>
</div>
</div>

<div class="row">
  <div class="span10"> 
    <div id="attachments_div">
      <%= f.fields_for :attachments, :html => {:multipart => true} do |attachment_form|  %>    
      <%= render 'attachment_fields', f: attachment_form %>
      <% end %>
      <%= link_to_add_fields "Add attachment", f, :attachments %>
    </div>
    <br/>
    <div class="field" id="field-titles">
      <%= f.label t "internships.attributes.internship_report"  %>
      <%= f.file_field :internship_report %>
    </div>
  </div>
</div>

<div class="span2"> 
  <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.recommend"  %>
    <div class="edit-recommend1" style="margin-left:10px; cursor: pointer;">
      <% if @internship.recommend %>
      <i id="recommend up" class="icon-thumbs-up green-thumb recommend-edit icon-2x"></i>
      <% else %>
      <i id="recommend down" class="icon-thumbs-down red-thumb recommend-edit icon-2x"></i>
      <% end %>
    </div>
    <%= f.hidden_field :recommend, value: @internship.recommend ? 1 : 0 %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="pull-right"> 
   <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
    <i class="icon-ok icon-white"></i> <%= @internship.completed ? t("internships.update") : t("internships.create")%>
    <% end %>
  </div>
  <% end %>
</div>
</div>