<div class="row" id="form-block2">

	<% if @internship.errors.any? %>
  <div class="error_explanation">
    <strong><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</strong>

    <ul>
      <% @internship.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_for @internship do |f| %>

  <%= f.fields_for :users do |u_form| %>

  <h2>Student Information</h2>

  <div class="row">
    <div class="span4"> 
     <div class="field" id="field-titles">
      <%= u_form.label t "students.attributes.enrolment_number" %><br />
      <%=@current_user.student.enrolment_number%>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.first_name" %><br />
    <%=@current_user.student.first_name%>
  </div>
</div>
</div>


<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.last_name" %><br />
    <%=@current_user.student.last_name%>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.birthday" %><br />
    <%=@current_user.student.birthday%>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.birthplace" %><br />
    <%=@current_user.student.birthplace%>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= u_form.label t "students.attributes.email" %><br />
    <%=@current_user.student.email%>
  </div>
</div>
</div>

<%= f.fields_for :companies do |company_form| %>

<h2>Internship company data</h2>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= company_form.label t "companies.attributes.name" %><br />
    <%= company_form.text_field :name %>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= company_form.label t "companies.attributes.department" %><br />
    <%= company_form.text_field :department %>
  </div>
</div>
</div>

<div class="row">
  <div class="span4">
   <div class="field" id="field-titles">
    <%= company_form.label t "companies.attributes.street" %><br />
    <%= company_form.text_field :street %>
  </div>
</div>
</div>

<div class="row">
  <div class="span2"> 
   <div class="field" id="field-titles">
    <%= company_form.label t "companies.attributes.zip" %><br />
    <%= company_form.number_field :zip %>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= company_form.label t "companies.attributes.city" %><br />
    <%= company_form.text_field :city %>
  </div>
</div>
</div>

<div class="row">
  <div class="span4">
   <div class="field" id="field-titles">
    <%= company_form.label t "companies.attributes.country" %><br />
    <%= company_form.country_select :country, ["United States"], class: 'chzn-select' %>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= company_form.label t "companies.attributes.phone" %><br />
    <%= company_form.number_field :phone %>
  </div>
</div>
</div>

<h2>Internship specification</h2>

<div class="row">
  <div class="span2"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.start_date" %><br />
    <%= f.date_field :start_date %>
  </div>
</div>
</div>

<div class="row">
  <div class="span2"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.end_date" %><br />
    <%= f.date_field :end_date %>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.operational_area" %><br />
    <%= f.text_field :operational_area %>
  </div>
</div>
</div>

<div class="row">
  <div class="span8"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.tasks" %><br />
    <%= f.text_area :tasks, size: "30x5" %>
  </div>
</div>
</div>

<div class="row">
  <div class="span4"> 
    <div class="field" id="field-titles">
      <%= f.label t "internships.attributes.supervisor_name" %><br />
      <%= f.text_field :supervisor_name %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4"> 
    <div class="field" id="field-titles">
      <%= f.label t "internships.attributes.supervisor_email" %><br />
      <%= f.text_field :supervisor_email %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4"> 
   <div class="field" id="field-titles">
    <%= f.label t "internships.attributes.semester" %><br />
    <%= f.select :semester_id, get_semesters, {}, class: 'chzn-select' %>
  </div>
</div>
</div>

<div class="row">
  <div class="pull-right"> 
   <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
    <i class="icon-ok icon-white"></i> <%= @internship.completed ? t("internships.update") : t("internships.create")%>
    <% end %>
  </div>
  <% end %>
</div>
</div>
<% end %>
<% end %>
</div>