<p id="notice"><%= notice %></p>
<a href ="javascript:history.back()" class="btn btn-success btn-intern display_none icon-white icon-reply"> <%= t("buttons.back") %></a>
<h2 class="intern-head"> <%= t"internships.details" %></h2>
<% if current_user.student? %>
<div id="askForCreation">
	<%= t "internships.createInternship" %>
	<br />
	<%= link_to t("internships.createYourInternship")+ " - old version",  new_internship_path %>
	<br />
	<%= link_to t("internships.createYourInternship")+ " - st",  student_show_path %>
</div>
<% end %>
