<div class="content-intern2 text-left" id="form-block4">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><%= t "internships.attributes.title" %></td>
        <td><%= @internship.title %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.company_name" %></td>
        <td><%= @internship.company_v2.name %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.company_address" %></td>
        <td><%= @internship.company_address.street %>,
        <%= @internship.company_address.zip %> <%= @internship.company_address.city %>,
        <%= @internship.company_address.country %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.company_website" %></td>
        <td><%= @internship.company_address.company.website %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.orientation" %></td>
        <td><%= @internship.orientation.try(:name) %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.programming_language" %></td>
        <td><%= @internship.programming_languages.map(&:name).join(", ") %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.salary" %></td>
        <td><%= @internship.salary %> €/<%= t("unit.month")%></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.working_hours" %></td>
        <td><%= @internship.working_hours %>/<%= t("unit.week")%></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.living_costs" %></td>
        <td><%= @internship.living_costs %> €/<%= t("unit.month")%></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.student" %></td>
        <td><%= @internship.try(:student).try(:name) %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.email" %></td>
        <td><%= @internship.student.email %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.semester" %></td>
        <td><%= @internship.semester.name %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.description" %></td>
        <td><%= @internship.description %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.tasks" %></td>
        <td><%= @internship.tasks %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.amoutOfDays" %></td>
        <td><%= @internship.duration.days %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.amountOfWeeks" %></td>
        <td><%= @internship.duration.weeks %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.weekValidation" %></td>
        <!-- #tbd ... wtf.the mapping of the mapping of the mapping in all the wrong places.-->
        <td><% if @internship.duration.weeks < 4 %>
        <%= t "internships.attributes.weekVal.notLongEnough"%>
        <% elsif @internship.duration.weeks < 19  %>
        <%= t "internships.attributes.weekVal.partInternship"%>
        <!-- # tbd ... wtf ... and here comes core business logic in the view...-->
        <% else t "internships.attributes.weekVal.longEnough"%>
        <% end %></td>
      </tr>
      <tr>
        <td><%= t "internships.attributes.recommend" %></td>
        <td><% if @internship.recommend %>
          <i class="icon-thumbs-up icon-2x green-thumb"></i>
          <% else %>
          <i class="icon-thumbs-down icon-2x red-thumb"></i>
          <% end %>
        </td>
      </tr>
      <% if @internship.comment.present?%>
      <tr>
        <td><%= t "internships.attributes.comment" %></td>
        <td><%= @internship.comment %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<!--  ############################################################################## -->

 <p><%= link_to "Print Registration Form (PDF)", internship_path(@internship, format: "pdf"), class: "btn btn-success" %></p>

 <%= link_to({:controller => :internships, :action => :rating, :id => @internship.id},class: "btn btn-success") do %>
  <i class = "icon-2x icon-large icon-white"> <%= t("buttons.rating") %> </i>
  <% end %>

<div id="edit">
<%= link_to({:controller => :internships, :action => :edit, :id => @internship.id}, class: "btn btn-danger") do %>
<i class = "icon-2x icon-large icon-white"> <%= t("buttons.edit") %> </i>
<% end %>

<div id="favorite">
 <% if @favorite %>
 <%= link_to({:controller=>:favorite,:action=>:destroy, :id => @favorite.id }, {:method=>:destroy, remote: true, class: "btn btn-danger"}) do %>
 <i class="icon-remove icon-large icon-white"> </i><%= t("favorite.delete") %>
 <% end %>

 <% else %>
 <%= link_to({:controller=>:favorite,:action=>:create, :internship_id => @internship.id, :user_id => current_user.id}, {:method=>:post, remote: true, class: "btn btn-success"}) do %>
 <i class="icon-heart icon-large icon-white"> </i><%= t("favorite.add") %>
 <% end %>
 <% end %>
</div>
<br/>

<% if @internship.attachments.present? %>
<b><%= t "internships.attributes.pictures" %> :</b></b>
<% @internship.attachments.each do |attachment| %>
<a href="#myModal" role="button" class="btn btn-default" data-toggle="modal"><%= image_tag attachment.file_url(:thumb) %></a>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
 <h3 id="myModalLabel">Photo Gallery</h3>
</div>
<div class="modal-body">
 <%= image_tag attachment.file_url %>
</div>
<div class="modal-footer">
</div>
</div>
<% end %>
<br/>
<% end %>

<% if @internship.internship_report.present? %>
<b><%= t "internships.attributes.internship_report" %> :</b>
<br/>
<%= link_to File.basename(@internship.internship_report.path), @internship.internship_report.url %>
<br/>
<% end %>
<br/>
<!-- ################################################# start comments #################################################-->

<br/>
<br/>

     <% if current_user.id == @internship.student.user.id %>
     <br />



   <% end %>

   <% end %>
 </div>
</div>
</div>
</div>
</div>
