<div class="row statistics">
<%= form_for @internship do |f| %>
  <% @semesters = Semester.all%>
  <select name="semester">
    <% @semesters.each do |semester| -%>
    <option value="#{semester.id}"><%=semester.name%></option>
    <% end %>
    <% @semester = params[:semester.id] %>
  </select>
  <% @sem_id = Semester.first.id %>
  <%= column_chart Internship.joins(:company).where(semester_id: @sem_id).group(:country).count, colors: ["#77b900", "#999"] %> 
<% end %>




<!--   <div class="col-xs-6">
    <h3>Countries visited by IMI-Students</h3>
    <%= column_chart Internship.joins(:company).where(semester_id: @sem_id).group(:country).count, colors: ["#77b900", "#999"] %>
  </div>
  <div class="col-xs-6">   
    <%= geo_chart Internship.joins(:company).where(semester_id: @sem_id).group(:country).count, colors: ["#77b900", "#999"] %>
  </div>  
</div> -->

$(function(){
    $('#semester.id').on('change', function(){
        alert('do soemthing ' + $(this).val());
    });
