<%= render 'required_attributes_legend' %>
<div class="container">
  <%= bootstrap_form_for @company_address do |f| %>
  <% if @company_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_address.errors.count, "error") %> prohibited this company_address from being saved:</h2>

      <ul>
      <% @company_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.text_field :street, required_application(f, :street)  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="field" id="field-titles">
        <%= f.text_field :zip, required_application(f, :zip)  %>
      </div>
    </div>
      <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= f.text_field :city, required_application(f, :city)  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.label :country, required_save_and_application(f,:country, class: 'required') %> <br>
        <%= f.country_select :country, ["United States"], class: 'chzn-select' %>
      </div>
    </div>
  </div>

  <div class="row">
<div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.text_field :phone, required_application(f, :phone) %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <div class="field" id="field-titles2">
        <%= f.submit t('save')%>
        </div>
      </div>
    </div>
<% end %>
</div>
