<%= render 'required_attributes_legend' %>
<div class="container">
  <%= bootstrap_form_for @company_address do |f| %>
  <% if @company_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_address.errors.count, "error") %> prohibited this company_address from being saved:</h2>

      <ul>
      <% @company_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.label t "activerecord.attributes.company_address.street2" %>
        <%= f.text_field :street, skip_label: true  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="field" id="field-titles">
        <%= f.label t "activerecord.attributes.company_address.zip1" %>
        <%= f.text_field :zip, skip_label: true  %>
      </div>
    </div>
      <div class="col-md-4">
      <div class="field" id="field-titles">
        <%= f.label t "activerecord.attributes.company_address.city2" %>
        <%= f.text_field :city , skip_label: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.label t "activerecord.attributes.company_address.country2" %> <br>
        <%= f.country_select :country, ["United States"], class: 'chzn-select' %>
      </div>
    </div>
  </div>

  <div class="row">
<div class="col-md-6">
      <div class="field" id="field-titles">
        <%= f.text_field :phone %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <div class="field" id="field-titles2">
        <%= f.submit t('save')%>
        </div>
      </div>
    </div>
<% end %>
</div>
