<div id="form-block4" class="text-left">

  <small><%= t "forms.what_do_stars_mean1" %></small><br>
<small><%= t "forms.what_do_stars_mean2" %></small>
  <h3><%= t "companies.company_address" %></h3>

<%= render 'form', company_address: @company_address %>

<%= link_to 'Back', :back %>
</div>
