<p id="notice"><%= notice %></p>

<h1>Company Addresses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_addresses.each do |company_address| %>
      <tr>
        <td><%= link_to 'Show', company_address %></td>
        <td><%= link_to 'Edit', edit_company_address_path(company_address) %></td>
        <td><%= link_to 'Destroy', company_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Address', new_company_address_path %>
