
  <div class="container">
<%= bootstrap_form_for @company_address, :url => {:controller => 'company_addresses', :action => "create_and_save",
                                                params: {internship_id: :internship_id}} do |f| %>

    <%= f.hidden_field :internship_id, :value => @internship.id %>
    <% if @company_address.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@company_address.errors.count, "error") %> prohibited this company_address from being saved:</h4>

        <ul>
        <% @company_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div id="form-block4" class="text-left">
    <small><%= t "forms.what_do_stars_mean1" %></small><br>
<small><%= t "forms.what_do_stars_mean2" %></small>
      <h3> <%=t "activerecord.attributes.company_address.new_address_heading"%></h3>
      <br>
    <div class="row">
      <div class="col-md-4">
        <div id="field-titles">
          <span class="form-static"><%=@company.name%></span>
          <%= f.hidden_field :company_id, :value => @company.id, hide_label: true %>
          <br>
          <div>
        </div>
      </div>
    <div class="row">
    <div class="col-md-8">
        <div class="field" id="field-titles">
          <%= f.label t "activerecord.attributes.company_address.street1" %>
          <%= f.text_field :street, skip_label: true   %>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="field" id="field-titles">
          <%= f.label t "activerecord.attributes.company_address.zip1" %>
          <%= f.number_field :zip, skip_label: true   %>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-8">
        <div class="field" id="field-titles">
          <%= f.label t "activerecord.attributes.company_address.city1" %>
          <%= f.text_field :city, skip_label: true   %>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="pl-3">
        <div class="field" id="field-titles">
          <%= f.label t "activerecord.attributes.company_address.country1" %> <br>
          <%= f.country_select :country, ["United States"], class: 'chzn-select' %>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-8">
        <div class="field" id="field-titles">
          <%= f.number_field :phone %>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="field" id="field-titles2">
          <%= f.submit t('save')%>
          </div>
        </div>
      </div>
  <% end %>
  <%= link_to (t "buttons.back"), 'javascript:history.back()' %>
  </div>
  </div>
