
<div class = "container height = 100%">
  <div class = "float-right">
      <%= form_for :user, url: session_path(:user), html: {class: "form-inline imimap-inverse"} do |f| %>

          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <%= f.label :email, class: "form-label imimap-inverse mr-2"%>
            <%= f.email_field :email, autofocus: true, class: "form-control mb-2 mr-sm-2 mb-sm-0", placeholder: "s012345@htw-berlin.de"%>
          </div>

          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <%= f.label :password, class: "form-label imimap-inverse mr-2" %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control mb-2 mr-sm-2 mb-sm-0" %>
          </div>
<!--
          <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <%= f.check_box :remember_me, class: "form-check-input"%>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
-->

          <div id="submit" class="pl-3">
            <%= f.submit t('devise.sessions.submit'), class: "btn btn-success" %>
          </div>


      <% end %>
  </div>
</div>
