<div class = "container-fluid imi-map-navigation">
  <div class = "row">
    <div class = "col-3">
      <div class="logo">
        <div class="world"><%= image_tag "logos.png" %></div>
        <div class="plane"><%= image_tag "plane0.gif" %></div>
      </div>
    </div>
   <!--
   <%= link_to "",overview_index_path, class: "imi-map-logo" %>
 -->
            <%= render 'navigation_right' %>
            <%= render 'navigation_main' %>


</div>
