<ul class="nav float-right imi-nav-right">
  <% if false #TBD Search Favorites %>
  <li class = "imimap-nav-right-li"><%= link_to(favorite_index_path, :alt => "Favorite") do %>
      <i class="icon-heart icon-large"></i>
    <% end %>
  </li>
  <% end # TDB Search %>
  <% if false #TBD Notifications %>

  <li class="dropdown imimap-nav-right-li">
    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
      <% if notification_size > 0 %>

        <span class="badge badge-important"><%= notification_size %></span>
      <%end%>
      <i class="icon-flag icon-large"></i></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
      <% if current_user && current_user.notifications.any? %>
        <% get_notifications.each do |noti| %>
          <li>
            #<%= link_to t(noti.text), {:controller => "notifications", :action => :destroy, :id => noti.id}, :method => :delete, :class => "bold" %>
          </li>
        <%end%>
      <% else %>
        <li>
          <%= t("noti.void") %>
        </li>
      <% end %>
    </ul>
<% end # TDB Notifications %>

    <% if current_user.student? && FT.on?(:student_can_edit_internship, current_user) %>
    <li class = "imimap-nav-right-li">
      <%= link_to help_path do %>
        <i class="icon-question-sign icon-large"></i>
      <% end %>
    </li>

    <li> &nbsp</li>

    <li class = "imimap-nav-right-li">
      <%= link_to student_path(current_user) do %>
        <i class="icon-user icon-large"></i>
      <% end %>
    </li>
    <% end %>

    <li class="dropdown imimap-nav-right-li">
      <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-large"></i></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
        <% locale_picker %>
      </ul>
    </li>

    <li class = "imimap-nav-right-li"><%= link_to destroy_user_session_path, :method => :delete  do %>
        <i class="icon-signout icon-large"></i>
      <% end %>
    </li>

  </ul>
