<nav class="navbar navbar-expand-md navbar-inverse " id="imi-maps-navbar-main">
<!--
  <a class="navbar-brand imi-map-logo" href="<%= root_path %>">
    <%= image_tag "plane.gif", width: 130, height: 130, alt: "" %>
  </a>
-->
  <button class="navbar-toggler imi-maps-toggler" type="button" data-toggle="collapse"
   data-target="#imi-map-navbar-core" aria-controls="imi-map-navbar-core"
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="imi-map-navbar-core">
    <ul class="navbar-nav ">
      <li class="nav-item im-nav-item<%= 'active' if current_page?(root_path) %>"><%= link_to t("header.overview"), root_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <li class="nav-item im-nav-item<%= 'active' if current_page?(internship_offers_path) %>"><%= link_to t("header.exchange"), internship_offers_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% if current_user.student? && FT.on?(:student_can_edit_internship, current_user) %>
        <li class="nav-item im-nav-item<%= 'active' if current_page?(my_internship_path) %>"><%= link_to t("header.internship"),  my_internship_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% end %>
      <% if can? :index, Internship %>
        <li class="nav-item im-nav-item<%= 'active' if current_page?(complete_internships_path) %>"><%= link_to t("header.current_internships"), complete_internships_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% end %>
      <% if current_user.admin? %>
        <li class="nav-item im-nav-item"><%= link_to t("header.admin"),  admin_root_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% end %>
      <% if false %>
      # to be reinstantiated later....
      <li class="nav-item im-nav-item<%= 'active' if current_page?(internships_path) %>"><%= link_to t("header.search"), internships_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <li class="nav-item im-nav-item<%= 'active' if current_page?(statistic_path) %>"><%= link_to t("header.statistic"), statistic_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% end %>
    </ul>
  </div>
</nav>
<!--
<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
-->
