<nav class="navbar navbar-expand-md navbar-inverse " id="imi-maps-navbar-main">
<!--
  <a class="navbar-brand imi-map-logo" href="<%= overview_index_path %>">
    <%= image_tag "plane.gif", width: 130, height: 130, alt: "" %>
  </a>
-->
  <button class="navbar-toggler imi-maps-toggler" type="button" data-toggle="collapse"
   data-target="#imi-maps-navbar-core" aria-controls="imi-maps-navbar-core"
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="imi-maps-navbar-core">
    <ul class="navbar-nav ">
      <li class="nav-item im-nav-item <%= 'active' if current_page?(overview_index_path) %>"><%= link_to t("header.overview"), overview_index_path, class: 'nav-link im-nav-link' %></li>
      <li class="nav-item im-nav-item <%= 'active' if current_page?(internships_path) %>"><%= link_to t("header.search"), internships_path, class: 'nav-link im-nav-link' %></li>
      <li class="nav-item im-nav-item <%= 'active' if current_page?(internship_offer_index_path) %>"><%= link_to t("header.exchange"), internship_offer_index_path, class: 'nav-link im-nav-link' %></li>
      <li class="nav-item im-nav-item <%= 'active' if current_page?(statistic_path) %>"><%= link_to t("header.statistic"), statistic_path, class: 'nav-link im-nav-link' %></li>
      <li class="nav-item im-nav-item <%= 'active' if current_page?(my_internship_path) %>"><%= link_to t("header.internship"),  my_internship_path, class: 'nav-link im-nav-link' %></li>
      <li class="nav-item im-nav-item <%= 'active' if current_page?(current_internships_path) %>"><%= link_to t("header.curInternships"),  current_internships_path, class: 'nav-link im-nav-link' %></li>
    </ul>
  </div>
</nav>
<!--
<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
-->
