<nav class="mt-4 ml-3 pb-3 navbar navbar-expand-md navbar-dark bg-dark" id="imi-maps-navbar-main">
<!--
  <a class="navbar-brand imi-map-logo" href="<%= root_path %>">
    <%= image_tag "plane.gif", width: 130, height: 130, alt: "" %>
  </a>
-->
  <button class="navbar-toggler imi-map-toggler" type="button" data-toggle="collapse"
   data-target="#imi-map-navbar-core" aria-controls="imi-map-navbar-core"
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-expand-lg pr-3" id="imi-map-navbar-core">
    <ul class="navbar-nav ">
      <li class="nav-item im-nav-item<%= 'active' if active_menu_item?(root_path) %>"><%= link_to t("header.overview"), root_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <li class="nav-item im-nav-item<%= 'active' if active_menu_item?(start_search_path) %>"><%= link_to t("header.search"), start_search_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <!--<li class="nav-item im-nav-item<%= 'active' if active_menu_item?(internship_offers_path) %>"><%= link_to t("header.exchange"), internship_offers_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>-->
      <% if current_user.student?  %>
         <li class="nav-item im-nav-item<%= 'active' if active_menu_item?('cidcontext') %>"><%= link_to t("header.internship"),  path_to_complete_internship, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% end %>

      <% if can? :index, Internship %>
        <li class="nav-item im-nav-item<%= 'active' if active_menu_item?(internships_path) %>"><%= link_to t("header.current_internships"), internships_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
        <li class="nav-item im-nav-item<%= 'active' if active_menu_item?(complete_internships_path) %>"><%= link_to t("header.complete_internships"), complete_internships_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% end %>

      <% if current_user.admin? %>
        <li class="nav-item im-nav-item"><%= link_to t("header.admin"),  admin_root_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% end %>

      <% if false %>
      # to be reinstantiated later....
      <li class="nav-item im-nav-item<%= 'active' if active_menu_item?(internships_path) %>"><%= link_to t("header.search"), internships_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <li class="nav-item im-nav-item<%= 'active' if active_menu_item?(statistic_path) %>"><%= link_to t("header.statistic"), statistic_path, class: 'nav-link im-nav-link imi-map-navlink' %></li>
      <% end %>
    </ul>
  </div>
</nav>
<!--
<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
-->
