<thead>
  <tr class="search-table">
    <!-- <th><%#= t "activerecord.attributes.internship.title" %></th> -->
    <th><%= t "activerecord.attributes.internshipcompany" %></th>
    <th><%= t "companies.attributes.city"%> </th>
    <th><%= t "companies.attributes.country" %></th>
    <th><%= t "companies.attributes.industry" %></th>
    <td><%= t "activerecord.attributes.internship.semester" %></td>
    <th><%= t "activerecord.attributes.internship.orientation" %></th>
    <th><%= t "activerecord.attributes.internship.programming_language" %></th>
    <th><%= t "activerecord.attributes.internship.rating" %></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @internships.each do |internship| %>
  <tr class="<%= cycle("even_row", "odd_row") %>">
    <!-- <td><#%= internship.title %></td> -->
    <td><%= @company.name %></td>
    <td><%= @company.city %></td>
    <td><%= @company.country %></td>
    <td><%= @company.industry %></td>
    <td><%= internship.semester.name %></td>
    <td><%= internship.orientation.name %></td>
    <td><%= internship.programming_languages.map { |n| n.name }.join(", ") %></td>
    <td><%= render_stars(internship.rating, self) %></td>
    <td><%= link_to "", internship, class: "icon-green-hover icon-circle-arrow-right icon-2x button_intern" %></td>
  </tr>
<% end %>

</tbody>
