<!DOCTYPE html>
<html lang = "en">
  <head>
    <title><%= t "header.tabtitle" %></title>
    <!-- Required meta tags bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- application wide assets -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <!--chartkick includes-->
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :content => 'Imi Map' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body >

  <% if user_signed_in? %>
    <%= render 'navigation_old' %>
    <%= render 'navigation' %>
  <% else %>
    <%= render 'login' %>
  <% end %>



  <% if @map_view %>
    <%= yield %>
  <% else %>
  <div class="wrapper">
    <div class="container clear-top">
      <%= yield %>
    </div>
  </div>
  <% end %>

</div>
<footer>
<div class="container">
  <div class="im-items">
    <div class="footer-text"><%= render 'version/version' %> - Projekt im Studiengang Internationale Medieninformatik der HTW Berlin.</div>
    <div class="htw_logo"></div>
    <div class="imi_logo"></div>
  </div>
</div>
</footer>
</body>
</html>
