<!DOCTYPE html>
<html lang = "en">
  <%= render 'html_head' %>
  <body>

<% unless user_signed_in? %>
  <%= yield %>
<% else %>
  <%= render 'header' %>

  <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
  <% end %>

  <% if @map_view %>
    <%= yield %>
  <% else %>
  <div class="wrapper">
    <div class="container clear-top">
      <%= yield %>
    </div>
  </div>
  <% end %>
<% end %>

<%= render 'footer' %>

</body>
</html>
