<!DOCTYPE html>
<html>
  <head>
    <title><%= t "header.tabtitle" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--chartkick includes-->
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :content => 'Imi Map' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body data-target=".bs-docs-sidebar" data-spy="scroll" data-twttr-rendered="true">

    <div class="navbar navbar-inverse">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div id="top-menu">
            <%= link_to "",overview_index_path, class: "brand" %>
            <!-- Be sure to leave the brand out there if you want it shown -->

            <ul class="nav pull-right">
              <li><%= link_to(favorite_index_path, :alt => "Favorite") do %>
                  <i class="icon-heart icon-large"></i>
                <% end %>
              </li>

              <li class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <% if get_notification_size > 0 %>

                    <span class="badge badge-important"><%= get_notification_size %></span>
                  <%end%>
                  <i class="icon-flag icon-large"></i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <% if current_user && current_user.notifications.any? %>
                    <% get_notifications.each do |noti| %>
                      <li>
                        <%= link_to t(noti.text), {:controller => "notifications", :action => :destroy, :id => noti.id}, :method => :delete, :class => "bold" %>
                      </li>
                    <%end%>
                  <% else %>
                    <li>
                      <%= t("noti.void") %>
                    </li>
                  <% end %>
                </ul>


                <li>
                  <%= link_to current_user  do %>
                    <i class="icon-user icon-large"></i>
                  <% end %>
                </li>

                <li class="dropdown">
                  <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-large"></i></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <% locale_picker %>
                  </ul>
                </li>

                <li><%= link_to destroy_user_session_path, :method => :delete  do %>
                    <i class="icon-signout icon-large"></i>
                  <% end %>
                </li>

              </ul>
              <!-- Everything you want hidden at 940px or less, place within here -->


              <div class="navigation-container">

                <nav>

                  <div class="navigation-mobile">
                    <a id="navigation-toggle" href="#!"><span></span></a>
                  </div>


                  <ul class="navigation-list2">


                    <li class="test"><%= link_to t("header.overview"), overview_index_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class' %></li>

                    <li class="<%= 'active_nav' if current_page?(internships_path) %>"><%= link_to t("header.search"), internships_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class' %></li>

                    <li class="<%= 'active_nav' if current_page?(internship_offer_index_path) %>"><%= link_to t("header.exchange"), internship_offer_index_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class' %></li>

                    <li class="<%= 'active_nav' if current_page?(internship_statistic_index_path) %>"><%= link_to t("header.statistic"), internship_statistic_index_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class' %></li>

                    <li class="<%= 'active_nav' if current_page?(my_internship_path) %>"> <%= link_to t("header.internship"),  my_internship_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class' %> </li>

                    <li class="<%= 'active_nav' if current_page?(current_internships_path) %>"> <%= link_to t("header.curInternships"),  current_internships_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class' %></li>


                    <li>
                      <a href="#!" style="color:#FFFFFF; text-decoration: none">List</a>

                      <ul class="navigation-dropdown">
                        <li> <%= link_to t("header.reportOverview"), report_overview_index_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class' %> </li>

                        <li> <%= link_to t("header.completeList"), complete_report_index_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class' %> </li>

                        <li> <%= link_to t("header.readList"), read_list_index_path %></li>

                        <li> <%= link_to t("my internship status"), internship_status_index_path, style: 'color:#FFFFFF; text-decoration: none', class: 'css_class'  %> </li>
                      </ul>
                    </li>



                  </ul>
                </nav>
              </div>


              <!--<div class="nav-collapse ">

                <ul class="nav nav-top ">
                  <li class="<%= 'active_nav' if current_page?(overview_index_path) %>"><%= link_to t("header.overview"), overview_index_path %></li>
                  <li class="<%= 'active_nav' if current_page?(internships_path) %>"><%= link_to t("header.search"), internships_path %></li>
                  <li class="<%= 'active_nav' if current_page?(internship_offer_index_path) %>"><%= link_to t("header.exchange"), internship_offer_index_path %></li>

                  <li class="<%= 'active_nav' if current_page?(internship_statistic_index_path) %>"><%= link_to t("header.statistic"), internship_statistic_index_path %></li>

                  <li class="<%= 'active_nav' if current_page?(my_internship_path) %>"> <%= link_to t("header.internship"),  my_internship_path %> </li>


                  <li class="<%= 'active_nav' if current_page?(current_internships_path) %>"> <%= link_to t("header.curInternships"),  current_internships_path %></li>



                  <div class="dropdown report-drop-down">
                    <li class="">Report</li>
                    <div class="dropdown-content">

                      <li> <%= link_to t("header.reportOverview"), report_overview_index_path %> </li>

                      <li> <%= link_to t("header.completeList"), complete_report_index_path %> </li>

                      <li> <%= link_to t("my internship status"), internship_status_index_path %> </li>


                      <li class="<%= 'active_nav' if current_page?(read_list_index_path) %>"><%= link_to t("header.readList"), read_list_index_path %></li>


                      <li class="<%= 'active_nav' if current_page?(read_list_index_path) %>"><%= link_to t("header.unreadList"), read_list_index_path %></li>

                    </div>
                  </li>
            </li>

                </ul>
              </div> -->
            </div>
          </div>
          <!-- .nav, .navbar-search, .navbar-form, etc -->
        </div>

      </div>
  </div>

  <div class="wrapper">
    <div class="container clear-top">
      <%= yield %>
    </div>
  </div>
</div>
<footer>
<div class="container">
  <div class="im-items">
    <div class="footer-text"><%= render 'version/version' %> - Projekt im Studiengang Internationale Medieninformatik der HTW Berlin.</div>
    <div class="htw_logo"></div>
    <div class="imi_logo"></div>
  </div>
</div>
</footer>
</body>
</html>
