<!DOCTYPE html>
<html>
<head>
  <title><%= t "header.tabtitle" %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body id="startbody">
<div class="navbar navbar-inverse top-bar login-nav">
  <div class="login-items">
    <div class="logo">
      <div class="plane"><%= image_tag "plane0.gif", :size => "140x140" %></div>
      <%= image_tag "logos.png", :size => "140x140" %>
    </div>
  </div>
</div>




<div class="wrapper" style="margin-top: 15%">
  <div class="container clear-top">
    <%= yield %>
  </div>
</div>

<div class="login_footer">
  <div class="footer-text"><%= render 'version/version' %> - Projekt im Studiengang Internationale Medieninformatik der HTW Berlin.</div>

</div>

</body>
</html>

