<!DOCTYPE html>
<html>
<head>
  <title><%= t "header.tabtitle" %></title>

  <!-- application wide assets -->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>
<body id="startbody">
<div class="navbar navbar-inverse top-bar login-nav">
  <div class="login-items">
    <div class="logo">
      <div class="world"><%= image_tag "logos.png" %></div>
      <div class="plane"><%= image_tag "plane0.gif" %></div>
    </div>

    <div class="input-items">
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <div>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div id="submit">
            <%= f.submit "Log in" %>
          </div>
      <% end %>
    </div>
  </div>
</div>


<!--
<% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
    <%= value %>
    </div>
<% end %>

<div class="display_none display_nonet"></div> -->

<!-- Leaflet Map -->
<div id="map-container">
  <div class="startmap" id="mapid"></div>

</div>
<script type="text/javascript">

    var companiesInternship = JSON.parse('<%= @company_location_json %>')
    var mymap = L.map('mapid').setView([52.4569311, 13.5242551], 2);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
       attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
       }).addTo(mymap);
    var marker = L.marker([52.4569311, 13.5242551]).bindPopup("HTW Berlin").addTo(mymap);
    for (var i = 0; i < companiesInternship.length; i++) {
      if ((companiesInternship[i][1] != null ) && (companiesInternship[i][2] != null ))

        marker = new L.marker([companiesInternship[i][1], companiesInternship[i][2]])
            .bindPopup(companiesInternship[i][0])
            .addTo(mymap);

    }

</script>
<%= yield :scripts %>

<div class="login_footer">
  <div class="footer-text"><%= render 'version/version' %> - Projekt im Studiengang Internationale Medieninformatik der HTW Berlin.</div>

</div>

</body>
</html>
